body {
  padding-top: 70px;
}
body>div.container {
  width: 80%;
  margin: auto;
}


img {height: 50%;
  width: 50%;
center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }}
